<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd ">


	<context:property-placeholder
		location="classpath*:*.properties" />
	<context:spring-configured />

	<bean id="triangle" class="org.tutorials.o4.Triangle">
		<property name="pointA" ref="zeroPoint" />
		<property name="pointB">
			<bean class="org.tutorials.o4.Point">
				<property name="x" value="-20" />
				<property name="y" value="0" />
			</bean>
		</property>
		<property name="pointC">
			<bean class="org.tutorials.o4.Point">
				<property name="x" value="0" />
				<property name="y" value="20" />
			</bean>
		</property>
		<property name="message" value="Spring xml configuration..." />
	</bean>

	<bean id="zeroPoint" class="org.tutorials.o4.Point">
		<property name="x" value="0" />
		<property name="y" value="0" />
	</bean>



</beans>